.item-detail {
  padding: 5% 8%;
  .item-detail__container {
    height: auto;
    display: flex;
    justify-content: space-around;
    gap: 4%;
    border-radius: 30px;
    box-shadow: 0px 2px 5px gray;
    padding: 2em;
    align-items: center;

    @include respond-to("mobile"){
      flex-direction: column-reverse;
      align-items: center;
      gap: 2rem;
      padding: 1.5em;
    }


    .item-detail__image-container {
      width: 45%;
      max-width: 500px;
      min-width: 300px;
      overflow: hidden;
      @include respond-to("tablet"){
        width: 35%;
        height: fit-content;
      }
      @include respond-to("mobile")
      {
        width: 100%;
        max-width: none;
        min-width: auto;
      }
      img {
        width: 500px;
        height: 100%;
        max-height: 500px;
        object-fit: contain;
        @include respond-to("tablet"){
          max-height: 400px;
          width: 300px;
        }
        @include respond-to("mobile"){
          max-height: 300px;
          width: 100%;
        }
      }
    }

    .item-detail__info {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      @include respond-to("mobile") {
        width: 100%;
        order: -1; // Mueve la info arriba si lo prefieres
      }
      h2 {
        font-family: $main-font;
        font-weight: bold;
        font-size: clamp(1.5rem, 3vw, 2.5rem); // Texto responsive
        text-align: center;
      }

      span {
        font-family: $main-font;
        font-weight: bolder;

        font-size: clamp(0.5rem, 2vw, 1rem); // Texto responsive
        @include respond-to("mobile"){
          font-size: 0.8rem;
        }

      }
      p {
        font-family: $main-font;
        line-height: 1.6;
        margin-top: 0.5rem;
        font-weight: bold;
        @include respond-to("tablet"){
          font-size: 14px;
        }
      }

        .count {
          width: 100%;
          display: flex;
          justify-content: space-evenly;

          .count-body {
            border-radius: 5%;

            display: flex;
            justify-content: space-between;
            gap: 50px;
            .boton-plus-less {
              color: $violetita;
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }
        }
        .link-boton {
          cursor: pointer;
          text-decoration: none;
          font-family: $main-font;
          font-size: medium;
          text-align: center;
          text-align: center;
          height: 25px;
          width: 45%;
          background-color: $violetita;
          color: #fff;
          border-radius: 5px;
          border: none;
          transition: opacity 0.2s ease-in-out;
          transition: transform 0.4s;
          &:hover {
            transform: scale(1.05);
            color: black;
          }
        }
        .disabled {
          cursor: default;
          text-decoration: none;
          font-family: $violetita;
          font-size: medium;
          text-align: center;
          text-align: center;
          height: 25px;
          width: 45%;
          background-color: gray;
          color: black;
          border-radius: 5px;
          border: none;
          transition: none;
          &:hover {
            transform: none;
          }
        }
        .error-message {
          span {
            font-family: $main-font;
            color: rgb(155, 77, 77);
          }
        }

    }
  }
}
