@mixin editView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  .table-datagrid {
    height: 80%;
    .actions-table {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      svg {
        font-size: 1.4em;
      }
    }
  }
}
